*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

:root{
    --text:#6A517B;
    --nav:#FAD4D8;
    --background:#FAD4D8;
    --border:#9DBF9B;    
    --navtext:#6A517B;
    --font:'Courgette', cursive;
    
}

body{
    background-color: var(--background);
    color:var(--text);
    font-family: var(--font);
    padding:20px;
}

nav{
    display:flex;
    justify-content: space-evenly;
    width: 50%;
    background-color:var(--nav) ;
    padding:30px;
    border-radius: 10px;
    border: 5px solid var(--border)
}

a{
    text-decoration: none;
    color: var(--text);
    padding:5px;
}

a:hover{
    border: 5px solid var(--border)
}

p{
    font-size: 20px;
    font-weight: bold;
}

h1{
    display: flex;
    font-size:60px;
    padding-bottom: 10px;
    border-bottom: 10px double var(--border);
}

h1:hover span {
    animation: textdance 0.5s alternate
}


h3{
    margin-top: 14px;
    opacity: 0.8;
    font-weight: normal;
}

.content{
    margin-right: 10%;
    margin-left: 10%;
}

#contentHeader{
    display: flex;
    justify-content: space-between;
    
}

#streakCounter{
    font-size: 20px;
    margin-top: 20px;
    margin-right: 20%;
}

#dateText {
    font-size: 22px;
}

#welcome{
    display: block;  
    margin-top: 10px;
   
}

#top-section{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin:30px;
}

.taskForm{
    margin-top: 40px;
    border: 5px solid var(--border);
    border-radius: 5px;
}

.taskFormContent {
    margin: 2%;
    display: flex;
    justify-content: space-between;
}

.taskFormContent label{
    font-size: 30px;
}

#confirm {
    display: flex;
    margin-top: 5px;
}

#yes {
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
}

#no {
    font-size: 20px;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 100px;
}

input[type="radio"] {
    margin-right: 6px;
}

.contentSearch {
    font-size: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: right;
}

.contentSearch label {
    margin-right: 10px;
}

.taskList {
    margin-top: 30px;
    border: 5px solid var(--border);
    border-radius: 5px;
}

.taskListContent {
    margin: 30px;
}

.taskList h2 {
    text-align: center;
}

.tasks {
    font-size: 24px;
    overflow-y: hidden;
}

.tasks li {
    margin: 30px;
}

.contentFooter {
    justify-content: space-between;
    display: flex;
    
}

#addHabit {
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--text);
    color: var(--background);
    font-family: var(--font);
}

.contentFooter a {
    margin-top: 30px;
    margin-right: 40px;
    font-size: 20px;
}

@keyframes textdance{
    0% {
        
        transform: translateY(0px)
      }
 
      50% {
     
        transform: translateY(-20px);
      }
 
      100% {
     
        transform: translateY(0px);
    }
}

h1 span:nth-child(1) {
    animation-delay: 0.1s;
  }

  h1 span:nth-child(2) {
    animation-delay: 0.2s;
  }

  h1 span:nth-child(3) {
    animation-delay: 0.3s;
  }

  h1 span:nth-child(4) {
    animation-delay: 0.4s;
  }

  h1 span:nth-child(5) {
    animation-delay: 0.5s;
  }

  h1 span:nth-child(6) {
    animation-delay: 0.6s;
  }

  h1 span:nth-child(7) {
    animation-delay: 0.7s;
  }

  h1 span:nth-child(8) {
    animation-delay: 0.8s;
  }



  /* callender styling */

#callender {
    cursor: pointer;
    transition: all 0.3s ease-out;
    border-radius: 50px;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.wrapper {
    margin: 70px auto;
    padding: 20px;
    background-color: var(--background);
    width: 70%;
    position: relative;
    border-radius: 10px;
}

.wrapper h2 {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
}

.wrapper hr {
    margin-top: 15px;
    opacity: 0.5;
}

.wrapper .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 25px;
}

.close:hover {
    color: red;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    
}

#callender-table{
    border-spacing: 20px;
    width: 100%;
    
}

#table-header{
    font-size: 20px;

}

#table-body{
    font-size: 15px;
}

td{
    text-align: center;
    font-size: 20px;
}

.completed{

    background-color:var(--border);
    border-radius: 10px;
}

#search{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--text);
    font-family: var(--font);
    padding: 5px;
}

